@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar{
  background-color: #F4F6F8;
}
*::-webkit-scrollbar{
  display: none;
}
.sidebar{
  width: 260px;
  flex-shrink: 0;
  background-color: #F4F6F8;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: all .3s;
}
.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
  transition: all 0.5 ease;
  width: 100%;
}
.sidebar-item.open > .sidebar-content{
  height: 100% !important;
}
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 10% !important;
}
.swiper-button-prev {
  left: 80% !important;
}
.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 0.73rem !important;
  color: white;
  opacity: 0.73;
  transition: all 0.37s ease;
  font-weight: bold;
}
.swiper-button-prev:hover:after, .swiper-button-next:hover:after {
  opacity: 1 !important;
}
.apexcharts-grid-borders .apexcharts-gridline {
  display: none;
}
.swiper-pagination {
  position: absolute;
  top: 3% !important;
  left: -40% !important;
}
.swiper-pagination-bullet-active {
  background-color: #76B0F1;
}
.scale-up-tr{-webkit-animation:scale-up-tr .5s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-tr .5s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes scale-up-tr{0%{-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:100% 0;transform-origin:100% 0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:100% 0;transform-origin:100% 0}}@keyframes scale-up-tr{0%{-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:100% 0;transform-origin:100% 0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:100% 0;transform-origin:100% 0}}
.scale-down-tr{-webkit-animation:scale-down-tr .5s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-down-tr .5s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes scale-down-tr{0%{-webkit-transform:scale(0);transform:scale(0);-webkit-transform-origin:0% 100%;transform-origin:0 100%}100%{-webkit-transform:scale(0);transform:scale(0);-webkit-transform-origin:0% 100%;transform-origin:0% 100%}}@keyframes scale-down-tr{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:100% 0;transform-origin:100% 0}100%{-webkit-transform:scale(0);transform:scale(0);-webkit-transform-origin:100% 0;transform-origin:100% 0}}