@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar{
  background-color: #F4F6F8;
}
*::-webkit-scrollbar{
  display: none;
}
.sidebar{
  width: 260px;
  flex-shrink: 0;
  background-color: #F4F6F8;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: all .3s;
}
.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
  transition: all 0.5 ease;
  width: 100%;
}
.sidebar-item.open > .sidebar-content{
  height: 100% !important;
}